body {
  background-color: white;
  color: var(--oc-gray-9);
}

a {
  color: var(--primary-9);
}

hr {
  border: none;
  border-top: 1px solid var(--oc-gray-4);
  margin: 1rem 0;
}

/** Layout **/

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  overflow-y: auto;
}

/** Footer **/

.footer {
  background-color: var(--oc-gray-9);
  color: white;
  font-size: 0.875rem;
  padding: 0.5rem 0;
}

.footer__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer a {
  color: var(--oc-gray-0);
  font-weight: 500;
}

.pw-form.inline {
  flex-wrap: wrap;
}

/** Table **/

.pw-table-container {
  overflow-x: auto;
  width: 100%;
}

.pw-table {
  border-collapse: collapse;
  min-width: 48rem;
  width: 100%;
}

.pw-table thead tr th {
  background-color: var(--oc-gray-1);
  border-bottom: 1px solid var(--oc-gray-4);
  color: var(--oc-gray-7);
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.75rem 1rem;
}

.pw-table tbody tr td {
  padding: 0.75rem 1rem;
}
