*:focus-visible {
    outline: none !important;
}

.ts-wrapper .ts-control {
    background-color: var(--color-base-300) !important;

}

.ts-wrapper .ts-control,
.ts-wrapper .ts-control>div {
    border-width: 1px !important;
    border-color:  var(--color-base-100 )!important;

}

.ts-wrapper .ts-control>div {
    background-color: var(--color-base-300) !important;
    color: var(--color-base-content) !important
}

.ts-wrapper .ts-dropdown{
    background-color: var(--color-base-200) !important;
    color: var(--color-base-content) !important
}

.ts-dropdown {
    --tw-border-opacity: 1 !important;
    border-color: rgb(212 212 212/var(--tw-border-opacity)) !important;
    background-color: var(--color-base-200) !important;
}

.ts-dropdown .active {
    background-color: var(--color-base-300) !important;
    color: var(--color-base-content) !important
}

label.required:after {
    content: " *";
    position: absolute;
    padding-left: .375rem;
    padding-right: .375rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: var(--color-secondary)
}

.btn {
    font-weight: 700;
}

.table-sm :where(th,td) {
    font-size: 0.8rem;
}
