[buildout]
extends =
    https://dist.plone.org/release/6.1.2/versions.cfg

parts =
    instance
    test

eggs =
    Plone

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
eggs = ${buildout:eggs}

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:eggs}
