[buildout]
extends =
    buildout.cfg
;eggs-directory = ~/.buildout/eggs

[versions]
coverage = 5.3.1

[translation]
recipe = infrae.i18nextract
packages = collective.eeafaceted.batchactions
output = ${buildout:directory}/src/collective/eeafaceted/batchactions/locales
output-package = collective.eeafaceted.batchactions
domain = collective.eeafaceted.batchactions
