[buildout]
find-links = https://pypi.projekt01.ch/pymongo/3.13.0
             https://files.pythonhosted.org/packages/e7/f8/af6954680f2d52215a8229ce0b4d1fd72f04388e1793991c72d513e6ec2c/m01.fake-3.13.3.tar.gz
develop = .
versions = versions
parts = test checker py


[versions]
m01.fake = 3.13.3
pymongo = 3.13.0


[test]
recipe = zc.recipe.testrunner
eggs = m01.stub [test]
       future


[checker]
recipe = lovely.recipe:importchecker
path = src/m01/stub


[py]
recipe = zc.recipe.egg
eggs = m01.stub
       future
interpreter = python
