/* Symbols in Navigation and ToC. */
:root,
[data-md-color-scheme="default"] {
  --doc-symbol-sh-function-fg-color: #8250df;
  --doc-symbol-sh-variable-fg-color: #953800;
  --doc-symbol-sh-file-fg-color: #5cad0f;
  --doc-symbol-sh-section-fg-color: #0550ae;

  --doc-symbol-sh-function-bg-color: #8250df1a;
  --doc-symbol-sh-variable-bg-color: #9538001a;
  --doc-symbol-sh-file-bg-color: #5cad0f1a;
  --doc-symbol-sh-section-bg-color: #0550ae1a;
}

[data-md-color-scheme="slate"] {
  --doc-symbol-sh-function-fg-color: #d2a8ff;
  --doc-symbol-sh-variable-fg-color: #ffa657;
  --doc-symbol-sh-file-fg-color: #baff79;
  --doc-symbol-sh-section-fg-color: #79c0ff;

  --doc-symbol-sh-function-bg-color: #d2a8ff1a;
  --doc-symbol-sh-variable-bg-color: #ffa6571a;
  --doc-symbol-sh-file-bg-color: #baff791a;
  --doc-symbol-sh-section-bg-color: #79c0ff1a;
}

code.doc-symbol {
  border-radius: .1rem;
  font-size: .85em;
  padding: 0 .3em;
  font-weight: bold;
}

code.doc-symbol-sh-variable {
  color: var(--doc-symbol-sh-variable-fg-color);
  background-color: var(--doc-symbol-sh-variable-bg-color);
}

code.doc-symbol-sh-variable::after {
  content: "variable";
}

code.doc-symbol-sh-function {
  color: var(--doc-symbol-sh-function-fg-color);
  background-color: var(--doc-symbol-sh-function-bg-color);
}

code.doc-symbol-sh-function::after {
  content: "function";
}

code.doc-symbol-sh-section {
  color: var(--doc-symbol-sh-section-fg-color);
  background-color: var(--doc-symbol-sh-section-bg-color);
}

code.doc-symbol-sh-section::after {
  content: "section";
}

code.doc-symbol-sh-file {
  color: var(--doc-symbol-sh-file-fg-color);
  background-color: var(--doc-symbol-sh-file-bg-color);
}

code.doc-symbol-sh-file::after {
  content: "file";
}

a.doc-symbol-sh-link::after {
  content: "↗";
  font-size: smaller;
  margin-left: .2em;
  vertical-align: top;
}
